h1 {
    width: 100%;
    padding: 10px 0;
    text-indent: 15px;
    text-align: left;
    border-bottom: 1px solid #d3d3d3;
}

.content {
    display: flex;
}

.sidebar {
    width: 40%;
    padding: 15px 10px;
}

.main {
    width: 60%;
}

.daterow {
    height: 48px;
    padding: 12px 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d3d3d3;
}

.daterow.active {
    background: #d3ffd3;
}

.daterow p {
    margin: 0;
}

.daterow .ename {
    width: 60%;
}